<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Rainfall Prediction</title>
</head>
<body>
    <div class="container">
        <div class="col-md-12 content-center">
            <hr>
            <h2><strong>RAINFALL AMOUNT PREDICTION</strong></h2>
            <hr>
            <hr>
            <div class="card-plain">
                <form  action="{{ url_for('gfg')}}" method="post">
                    <div class="form-group">
                        <label for="Evaporation">Evaporation:</label>
                        <input type="text" class="form-control" id="Evaporation" name="Evaporation" placeholder="Evaporation">
                    </div>
                    <div class="form-group">
                        <label for="Sunshine">Sunshine</label>
                        <input type="text" class="form-control" id="lastname" name="Sunshine" placeholder="Sunshine">
                    </div>
                    <div class="form-group">
                        <label for="WindSpeed">WindSpeed</label>
                        <input type="text" class="form-control" id="WindSpeed" name="WindSpeed" placeholder="WindSpeed">
                    </div>
                    <div class="form-group">
                        <label for="Humidity">Humidity</label>
                        <input type="text" class="form-control" id="Humidity" name="Humidity" placeholder="Humidity">
                    </div>
                    <div class="form-group">
                        <label for="Pressure">Pressure</label>
                        <input type="text" class="form-control" id="Pressure" name="Pressure" placeholder="Pressure">
                    </div>
                    <div class="form-group">
                        <label for="Temperature">Temperature</label>
                        <input type="text" class="form-control" id="Temperature" name="Temperature" placeholder="Temperature">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary" type="submit">Predict Rainfall</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
